<div class="container1">
  <div class="userRegisterMain">
<mat-card>
  <mat-card-title>Statystyki ankiet</mat-card-title>
  <mat-card-content>Na podstawie {{ankiety?.length}} ankiet</mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="router.navigate(['/statystykiAnkiet'])">Zobacz statystyki</button>
    <br>
  </mat-card-actions>
</mat-card>
<br/><br>
<p>Zobacz poszczególne ankiety:</p><br/>
<span *ngFor="let ankieta of ankiety">
  <mat-card>
    <mat-card-title>Numer ankiety: {{ ankieta.id }}</mat-card-title>
    <mat-card-content>Udzielono {{ ankieta.liczbaOdpowiedzi }} na 48 odpowiedzi na pytania
      <br/> Data wypełnienia: {{ankieta.aktualnaData.seconds * 1000 | date: 'dd/MM/yyyy'}}
      <br/>Uwagi: {{ankieta.uwagi ? ankieta.uwagi : 'brak uwag'}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="router.navigate(['/wyswietlAnkiete/', ankieta.id])">Zobacz ankietę</button>
    </mat-card-actions>
  </mat-card>
  <br/>
</span>
</div>
</div>