<div class="container1">
  <div class="userRegisterMain">
    <mat-card>
      <mat-card-header>
        <div>
          <p>Statystyki do Excela</p>
          <button mat-raised-button color="primary" onClick="history.go(-1);return true;">Powrót</button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <table width="1000" border="1">

          <tr *ngFor="let ankieta of ankiety; let i = index">
            {{i}}
            <td>{{ankieta.id}}</td>
            <td>{{ankieta.pytI1}}</td>
            <td>{{ankieta.pytI2a}}</td>
            <td>{{ankieta.pytI2b}}</td>
            <td>{{ankieta.pytI2c}}</td>
            <td>{{ankieta.pytI2d}}</td>
            <td>{{ankieta.pytI3a}}</td>
            <td>{{ankieta.pytI3b}}</td>
            <td>{{ankieta.pytI3c}}</td>
            <td>{{ankieta.pytI3d}}</td>
            <td>{{ankieta.pytII1}}</td>
            <td>{{ankieta.pytII2}}</td>
            <td>{{ankieta.pytII3}}</td>
            <td>{{ankieta.pytII4}}</td>
            <td>{{ankieta.pytII5}}</td>
            <td>{{ankieta.pytIII01}}</td>
            <td>{{ankieta.pytIII02}}</td>
            <td>{{ankieta.pytIII03}}</td>
            <td>{{ankieta.pytIII04}}</td>
            <td>{{ankieta.pytIII05}}</td>
            <td>{{ankieta.pytIII06}}</td>
            <td>{{ankieta.pytIII07}}</td>
            <td>{{ankieta.pytIII08}}</td>
            <td>{{ankieta.pytIII09}}</td>
            <td>{{ankieta.pytIII10}}</td>
            <td>{{ankieta.pytIII11}}</td>
            <td>{{ankieta.pytIII12}}</td>
            <td>{{ankieta.pytIII13}}</td>
            <td>{{ankieta.pytIII14}}</td>
            <td>{{ankieta.pytIII15}}</td>
            <td>{{ankieta.pytIII16}}</td>
            <td>{{ankieta.pytIII17}}</td>
            <td>{{ankieta.pytIII18}}</td>
            <td>{{ankieta.pytIII19}}</td>
            <td>{{ankieta.pytIII20}}</td>
            <td>{{ankieta.pytIII21}}</td>
            <td>{{ankieta.pytIII22}}</td>
            <td>{{ankieta.pytIII23}}</td>
            <td>{{ankieta.pytIII24}}</td>
            <td>{{ankieta.pytIII25}}</td>
            <td>{{ankieta.pytIII26}}</td>
            <td>{{ankieta.pytIII27}}</td>
            <td>{{ankieta.pytIII28}}</td>
            <td>{{ankieta.pytIII29}}</td>
            <td>{{ankieta.pytIII30}}</td>
            <td>{{ankieta.pytIII31}}</td>
            <td>{{ankieta.pytIII32}}</td>
            <td>{{ankieta.pytIII33}}</td>
            <td>{{ankieta.pytIII34}}</td>
            <td>{{ankieta.pytIII35}}</td>
            <td>{{ankieta.pytIII36}}</td>
            <td>{{ankieta.pytIII37}}</td>
            <td>{{ankieta.pytIII38}}</td>
            <td>{{ankieta.pytIII39}}</td>
            <td>{{ankieta.pytIII40}}</td>



           
            
   
    
    


            <!-- <td>
              {{ankieta | json}}
              <ngx-json-viewer [json]="ankieta" [expanded]="false"></ngx-json-viewer>
            </td> -->
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>