<div class="container1">
  <div class="userRegisterMain">
    <mat-card>
      <mat-card-header>

        <div>
          <p>Statystyki ankiet</p>

          <button mat-raised-button color="primary" onClick="history.go(-1);return true;">Powrót</button>
        </div>


      </mat-card-header>
      <mat-card-content>
        <form #ankietaForm="ngForm" class="formatka">

          <div>
            <h3>
              <u>Część I</u>
            </h3>
          </div>
          <div>
            <h4>1) Od kiedy Morski Instytut Rybacki - PIB posiada wyróżnienie HR Excellence in Research?</h4>
          </div>

          <ul>
            <li>2015 - liczba odpowiedzi: <b>{{ankietaStatystyka.pytI1a}}</b></li>
            <li>2016 - liczba odpowiedzi: <b>{{ankietaStatystyka.pytI1b}}</b></li>
            <li>2017 - liczba odpowiedzi: <b>{{ankietaStatystyka.pytI1c}}</b></li>
            <li>2018 - liczba odpowiedzi: <b>{{ankietaStatystyka.pytI1d}}</b></li>
          </ul>



          <div>
            <h4>2) Jakie jednostki mogą otrzymać europejskie wyróżnienie HR Excellence in Research? /zaznacz wszystkie
              poprawne
              odpowiedzi/
            </h4>
          </div>

          <ul>

            <li>wdrażające zasady Europejskiej Karty Naukowca - liczba odpowiedzi: <b>{{ankietaStatystyka.pytI2a}}</b></li>
            <li>wdrażające zasady Kodeksu postępowania przy rekrutacji pracowników naukowych - liczba odpowiedzi:
              <b>{{ankietaStatystyka.pytI2b}}</b></li>
            <li>zapewniające naukowcom atrakcyjne warunki pracy i rozwoju kariery - liczba odpowiedzi:
              <b>{{ankietaStatystyka.pytI2c}}</b></li>
            <li>zatrudniające powyżej 5 pracowników naukowych z zagranicy - liczba odpowiedzi:
              <b>{{ankietaStatystyka.pytI2d}}</b></li>
          </ul>

          <div>
            <h4>3) Jakie działania były realizowane w MIR-PIB w ramach realizacji strategii Human Resources Strategy
              for
              Researchers? /zaznacz wszystkie poprawne odpowiedzi/</h4>
          </div>

<ul>

  <li>stworzenie poradnika pt.: „Stanowisko pracownika naukowego w MIR-PIB – ścieżki awansu, wymagania i
    korzyści” -
    liczba odpowiedzi: <b>{{ankietaStatystyka.pytI3a}}</b></li>
  <li>przeprowadzenie szkolenia pt. „Działania w ramach strategii Human Resources Strategy for Researchers”,
    mającego
    na celu wzmocnienie kadry kierowniczej (w tym <br>
    kierowników projektów) w wiedzę i narzędzia zwiększające efektywność doboru i rozwoju kadr (prowadząca M.
    Binkiewicz) wdrażające zasady
    Kodeksu postępowania przy rekrutacji pracowników naukowych - liczba odpowiedzi:
    <b>{{ankietaStatystyka.pytI3b}}</b></li>
  <li>wprowadzenie do stopki email oraz wzorów prezentacji Power Point znaku HR logo - liczba odpowiedzi:
    <b>{{ankietaStatystyka.pytI3c}}</b></li>
  <li>zorganizowanie seminarium nt. zarządzania własnością intelektualną i komercjalizacji wyników badań
    (przeprowadzone przez firmę CoWinners z Poznania; <br>prowadzący dr Zbigniew Krzewiński). - liczba
    odpowiedzi:
    <b>{{ankietaStatystyka.pytI3d}}</b></li>

</ul>

          <br>
          <div>
              <h3>
              <u>Część II</u>
            </h3>
          </div>
          <div>
            <h4>1) Twój stopień / tytuł naukowy to:</h4>
          </div>
          <ul>
              <li>mgr / mgr inż. - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII1a}}</b></li>
              <li>dr / dr inż. - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII1b}}</b></li>
              <li>dr hab. / dr hab. inż. - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII1c}}</b></li>
              <li>profesor - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII1d}}</b></li>
            </ul>

          <div>
            <h4>2) Na jakim stanowisku jesteś zatrudniony w Instytucie?</h4>
          </div>
          
          <ul>
              <li>stażysta - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII2a}}</b></li>
              <li>specjalista - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII2b}}</b></li>
              <li>starszy specjalista - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII2c}}</b></li>
              <li>asystent - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII2d}}</b></li>
              <li>adiunkt - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII2e}}</b></li>
              <li>profesor nadzw. - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII2f}}</b></li>
               <li>profesor zwyczajny - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII2g}}</b></li>
              <li>inne - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII2h}}</b></li>
            </ul>
          
          <div>
            <h4>3) Twoja płeć:</h4>
          </div>
          <ul>
              <li>kobieta - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII3a}}</b></li>
              <li>mężczyzna - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII3b}}</b></li>
          </ul>
          
            
          
          <div>

            <h4>4) Twój wiek:</h4>
          </div>
          <ul>
          <li>24 lata i mniej - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII4a}}</b></li>
          <li>25–34 lata - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII4b}}</b></li>
          <li>35–44 lata - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII4c}}</b></li>
              <li>45–54 lata - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII4d}}</b></li>
              <li>55–64 lata - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII4e}}</b></li>
              <li>65 lat i więcej - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII4f}}</b></li>
            </ul>
          
          <div>
            <h4>5) Twój staż pracy w MIR-PIB:</h4>
          </div>
          <ul>
              <li>2 lata i mniej - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII5a}}</b></li>
              <li>3–5 lat - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII5b}}</b></li>
              <li>6-10 lat - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII5c}}</b></li>
                  <li>11-20 lat - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII5d}}</b></li>
                  <li>21-30 lat - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII5e}}</b></li>
                  <li>31 i więcej - liczba odpowiedzi: <b>{{ankietaStatystyka.pytII5f}}</b></li>
                </ul>


          <br>
          <div>


            
            <h3>
              <u>Część III</u>
            </h3>
          </div>

          <div>
            <h4>1) Moją pracę w Instytucie charakteryzuje wolność badań naukowych:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII01a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII01b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII01c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII01d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII01e}}</b></li>
                 
                </ul>

         <div>


            
            <h4>2) W moim środowisku naukowym przestrzega się zasad etycznych:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII02a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII02b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII02c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII02d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII02e}}</b></li>
                 
                </ul>

          <div>
            <h4>3) Badania, nad którymi pracuję, mają znaczenie dla społeczeństwa i nie powielają przeprowadzonych wcześniej
              i w innym miejscu badań:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII03a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII03b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII03c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII03d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII03e}}</b></li>
                 
                </ul>

          <div>
            <h4>4) Dobrze znam strategiczne cele swojego środowiska naukowego oraz mechanizmy finansowania badań:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII04a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII04b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII04c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII04d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII04e}}</b></li>
                 
                </ul>

          <div>
            <h4>5) Przestrzegam zobowiązań wynikających z umów lub przepisów, dostarczając tym samym wymaganych wyników badań
              (np. praca doktorska/habilitacyjna, publikacje, patenty, sprawozdania, opracowanie nowych produktów itp.):</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII05a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII05b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII05c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII05d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII05e}}</b></li>
                 
                </ul>

          <div>
            <h4>6) Przestrzegam zasad starannego, przejrzystego i efektywnego zarządzania finansami oraz współpracuję z wszelkimi
              organami upoważnionymi do kontroli prowadzonych przeze mnie badań naukowych:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII06a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII06b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII06c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII06d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII06e}}</b></li>
                 
                </ul>

          <div>
            <h4>7) Stosuję bezpieczne sposoby wykonywania pracy, w tym podejmuję środki ostrożności na wypadek awarii technologii
              informatycznych, a także w zakresie ochrony danych/poufności:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII07a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII07b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII07c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII07d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII07e}}</b></li>
                 
                </ul>

          <div>
            <h4>8) Kładę nacisk na to, aby wyniki moich badań były rozpowszechniane (np. poprzez „newsy” na stronie internetowej
              Instytutu) i wykorzystywane (np. komercyjnie):</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII08a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII08b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII08c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII08d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII08e}}</b></li>
                 
                </ul>

          <div>
            <h4>9) Zależy mi na tym, aby wyniki moich badań docierały do ogółu społeczeństwa i były zrozumiałe dla osób nie
              będących specjalistami:
            </h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII09a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII09b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII09c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII09d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII09e}}</b></li>
                 
                </ul>

          <div>
            <h4>10) W moim środowisku naukowym NIE spotykam się z przejawami dyskryminacji (np. ze względu na płeć, wiek,
              pochodzenie etniczne, narodowe lub społeczne, religię lub wyznanie, orientację seksualną, język, niepełnosprawność,
              przekonania polityczne oraz status społeczny bądź materialny):</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII10a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII10b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII10c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII10d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII10e}}</b></li>
                 
                </ul>

          <div>
            <h4>11) W moim Instytucie istnieje system oceny pracowników i ich wyników zawodowych przeprowadzany w sposób
              przejrzysty przez niezależną komisję:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII11a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII11b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII11c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII11d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII11e}}</b></li>
                 
                </ul>

          <div>
            <h4>12) Znam i rozumiem zasady określone w Kodeksie Postępowania przy rekrutacji pracowników naukowych podczas
              mianowania lub rekrutacji naukowców:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII12a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII12b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII12c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII12d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII12e}}</b></li>
                 
                </ul>

          <div>
            <h4>13) Rekrutacja na stanowiska naukowe prowadzona w MIR-PIB kładzie nacisk na otwarte i przejrzyste procedury,
              oparte o kwalifikacje kandydatów:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII13a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII13b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII13c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII13d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII13e}}</b></li>
                 
                </ul>

          <div>
            <h4>14) Komisje rekrutacyjne dokonujące doboru kandydatów na stanowiska naukowe w MIR-PIB mają ku temu odpowiednie
              doświadczenie i przygotowanie, a także stosują szeroką gamę praktyk selekcji kandydatów:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII14a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII14b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII14c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII14d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII14e}}</b></li>
                 
                </ul>
          <div>
            <h4>15) Kandydaci rekrutowani do MIR-PIB są informowani o kryteriach wyboru, ilości dostępnych stanowisk oraz
              perspektywach rozwoju zawodowego. Po zakończeniu procesu rekrutacji, kandydatów powiadamia się o mocnych i
              słabych stronach ich podań:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII15a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII15b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII15c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII15d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII15e}}</b></li>
                 
                </ul>

          <div>
            <h4>16) W ocenie pracownika naukowego MIR-PIB brane są pod uwagę nie tylko wskaźniki bibliometryczne, jak np.
              liczba publikacji, lecz również inne kryteria, np. opieka naukowa, praca zespołowa, transfer wiedzy, zarządzanie
              badaniami naukowymi oraz działania w zakresie innowacji i szerzenia świadomości naukowej w społeczeństwie:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII16a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII16b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII16c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII16d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII16e}}</b></li>
                 
                </ul>

          <div>
            <h4>17) Przerwy w przebiegu kariery lub odstępstwa od porządku chronologicznego w życiorysie nie stanowią problemu
              w rekrutacji/awansie na stanowiska naukowe w MIR-PIB:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII17a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII17b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII17c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII17d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII17e}}</b></li>
                 
                </ul>

          <div>
            <h4>18) Doświadczenie w zakresie mobilności, np. pobyt w innym kraju/regionie lub w innym środowisku naukowym
              jest w moim Instytucie wysoko cenione:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII18a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII18b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII18c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII18d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII18e}}</b></li>
                 
                </ul>
          <div>
            <h4>19) Uważam, że moje kwalifikacje zawodowe są uznawane zarówno w kraju, jak i za granicą:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII19a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII19b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII19c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII19d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII19e}}</b></li>
                 
                </ul>

          <div>
            <h4>20) W mojej pracy naukowej doceniane są przede wszystkim umiejętności i osiągnięcia, bez względu np. na renomę
              instytucji, gdzie uzyskano te kwalifikację lub wiek, w którym się je osiągnęło:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII20a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII20b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII20c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII20d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII20e}}</b></li>
                 
                </ul>

          <div>
            <h4>21) Znam ścieżkę awansu na kolejne stanowiska naukowe w moim Instytucie:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII21a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII21b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII21c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII21d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII21e}}</b></li>
                 
                </ul>

          <div>
            <h4>22) W Instytucie wszyscy pracownicy są uznawani za profesjonalistów i traktowani zgodnie z tym faktem, tak
              samo na każdym etapie swojej kariery (począwszy od poziomu studiów doktoranckich):</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII22a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII22b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII22c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII22d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII22e}}</b></li>
                 
                </ul>

          <div>
            <h4>23) MIR-PIB zapewnia odpowiednie środowisko badań, szkolenia i inne możliwości, w tym współpracę na odległość
              przy pomocy sieci badawczych:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII23a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII23b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII23c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII23d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII23e}}</b></li>
                 
                </ul>

          <div>
            <h4>24) Instytut zapewnia odpowiednie warunki pracy umożliwiające osiąganie efektywnych wyników badań naukowych,
              pogodzenie życia rodzinnego i zawodowego, posiadanie dzieci i rozwój kariery zawodowej: </h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII24a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII24b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII24c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII24d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII24e}}</b></li>
                 
                </ul>

          <div>
            <h4>25) Instytut zapewnia stabilne warunki zatrudnienia:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII25a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII25b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII25c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII25d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII25e}}</b></li>
                 
                </ul>

          <div>
            <h4>26) MIR-PIB zapewnia naukowcom sprawiedliwe i atrakcyjne wynagrodzenia:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII26a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII26b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII26c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII26d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII26e}}</b></li>
                 
                </ul>
          <div>
            <h4>27) Uważam, że w Instytucie równowaga płci jest zapewniona na każdym szczeblu kadry:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII27a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII27b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII27c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII27d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII27e}}</b></li>
                 
                </ul>
          <div>
            <h4>28) Sądzę, że warto wprowadzić w Instytucie strategię rozwoju kariery zawodowej dla naukowców (mentoring
              policy):
            </h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII28a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII28b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII28c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII28d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII28e}}</b></li>
                 
                </ul>

          <div>
            <h4>29) Instytut wspiera współpracę naukowców z przedsiębiorstwami/biznesem/przemysłem:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII29a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII29b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII29c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII29d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII29e}}</b></li>
                 
                </ul>

          <div>
            <h4>30) W Instytucie mogę liczyć na wsparcie mojego rozwoju zawodowego/doradztwo zawodowe:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII30a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII30b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII30c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII30d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII30e}}</b></li>
                 
                </ul>

          <div>
            <h4>31) Mam dużą wiedzę na temat praw własności intelektualnej:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII31a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII31b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII31c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII31d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII31e}}</b></li>
                 
                </ul>

          <div>
            <h4>32) W moim instytucie docenia się nie tylko autorstwo, ale też współautorstwo prac, patentów itp.:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII32a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII32b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII32c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII32d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII32e}}</b></li>
                 
                </ul>

          <div>
            <h4>33) Nauczanie jest istotnym sposobem organizacji i upowszechniania wiedzy i z tego względu należy je postrzegać
              jako cenną możliwość w ramach ścieżki rozwoju zawodowego naukowców:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII33a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII33b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII33c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII33d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII33e}}</b></li>
                 
                </ul>

          <div>
            <h4>34) W moim Instytucie funkcjonują procedury zapewniające poufną i nieformalną pomoc w rozwiązywaniu konfliktów
              związanych z pracą:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII34a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII34b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII34c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII34d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII34e}}</b></li>
                 
                </ul>
          <div>
            <h4>35) Naukowcy posiadają przedstawicieli w organach decyzyjnych Instytutu, dzięki czemu ich interesy są reprezentowane
              oraz aktywnie uczestniczą w pracach MIR-PIB:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII35a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII35b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII35c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII35d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII35e}}</b></li>
                 
                </ul>

          <div>
            <h4>36) Relacja przełożony–podwładny / mentor–doktorant powinna być bardziej ustrukturyzowana i obejmować rejestrowanie
              postępu wszelkich badań oraz ich wyników, uzyskiwanie informacji zwrotnych poprzez sprawozdania i seminaria,
              pracę wg ustalonych harmonogramów itp.</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII36a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII36b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII36c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII36d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII36e}}</b></li>
                 
                </ul>

          <div>
            <h4>37) W moim Instytucie starsi pracownicy naukowi budują konstruktywne i pozytywne relacje z początkującymi
              pracownikami naukowymi celem efektywnego transferu wiedzy, pomyślnego rozwoju kariery tych naukowców:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII37a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII37b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII37c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII37d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII37e}}</b></li>
                 
                </ul>

          <div>
            <h4>38) Na wszystkich etapach kariery zawodowej szukam możliwości stałego rozwoju poprzez aktualizację i poszerzanie
              zakresu swoich umiejętności i kwalifikacji:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII38a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII38b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII38c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII38d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII38e}}</b></li>
                 
                </ul>

          <div>
            <h4>39) Instytut daje mi możliwość rozwoju zawodowego, podnoszenia kwalifikacji/umiejętności:</h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII39a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII39b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII39c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII39d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII39e}}</b></li>
                 
                </ul>

          <div>
            <h4>40) Młodzi naukowcy w MIR-PIB mogą liczyć na pomoc ze strony opiekunów naukowych, którzy dysponują czasem,
              wiedzą, doświadczeniem, kompetencjami i zaangażowaniem, dzięki którym mogą zaoferować stażystom odpowiednie
              wsparcie:
            </h4>
          </div>
          <ul>
              <li>zdecydowanie się zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII40a}}</b></li>
              <li>zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII40b}}</b></li>
              <li>nie mam zdania - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII40c}}</b></li>
                  <li>nie zgadzam się - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII40d}}</b></li>
                  <li>zdecydowanie się nie zgadzam - liczba odpowiedzi: <b>{{ankietaStatystyka.pytIII40e}}</b></li>
                 
                </ul>

          <br>

          <!-- <div>
            <h4>Jeśli chciał(a)byś dodać jakieś uwagi, sugestie, zgłosić potrzebę szkolenia lub inny problem, napisz to poniżej
              (ankieta jest anonimowa, wszelkie komentarze są dla nas bardzo cenne):</h4>
          </div>
          <mat-form-field>
            <input disabled matInput placeholder="Twoje uwagi i sugestie" name="uwagi" #ankietauwagi="ngModel" [(ngModel)]="ankieta.uwagi">
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" onClick="history.go(-1);return true;">Powrót</button>
          <br>  -->

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>