<div class="container1">
  <div class="userRegisterMain">
    <mat-card>
      <mat-card-header>

        <div>
          <p>Szanowni Państwo,</p>
          <p>Zapraszamy do wypełnienia ankiety dot. realizacji przez nasz Instytut strategii Human Resources Strategy for
            Researchers. Informacje uzyskane w ten sposób pozwolą nam na podjęcie kolejnych działań, mających na celu podniesienie
            atrakcyjności warunków pracy naukowej w MIR-PIB. Ankieta składa się z trzech części i jest anonimowa. Można ją
            przerwać w dowolnym momencie, bez utraty wprowadzonych odpowiedzi.</p>
          <p>W celu dokończenia lub edycji ankiety należy kliknąć przycisk <i>"Wznów/popraw ankietę"</i>, następnie w pole
            poniżej wpisać zapisany wcześniej numer ankiety i kliknąć <i>"Popraw ankietę"</i>.</p>
          <p> Ankieta jest dostępna online w terminie <b>od 20 września do 5 października 2018.</b></p>
        </div>


      </mat-card-header>
      <mat-card-content>
        <form #ankietaForm="ngForm" class="formatka">
          <br><p> Numer ankiety: <b>{{ id }}</b> - <span style="color:Red;"><i>zapisz ten numer, jeśli będziesz chciał poprawić lub dokończyć ankietę.</i></span></p>
          <br>
          <div *ngIf="czyPoprzedniaAnkieta">

            <mat-form-field>
              <input matInput type="text" name="idDoWpisu" [(ngModel)]="idDoWpisu">
            </mat-form-field>
            <p>Wklej Twój numer ankiety do pola powyżej i kliknij&nbsp;&nbsp;&nbsp;
              <button mat-raised-button color="primary" (click)="pobierzAnkiete(idDoWpisu)">Pobierz ankietę</button></p>
            <p *ngIf="czyZlaAnkieta"><b>Niepoprawny numer ankiety</b></p>
          </div>
          <p> <button mat-raised-button color="warn" (click)="czyPoprzedniaAnkieta = !czyPoprzedniaAnkieta">Wznów/popraw
              ankietę
            </button></p>

          <div>
            <h3>
              <u>Część I</u>
            </h3>
          </div>
          <div>
            <h4>1) Od kiedy Morski Instytut Rybacki - PIB posiada wyróżnienie HR Excellence in Research?</h4>
          </div>

          <mat-radio-group type="text" name="pytI1" #ankietapytI1="ngModel" [(ngModel)]="ankieta.pytI1" id="buttony">
            <mat-radio-button value="2015">2015</mat-radio-button>
            <mat-radio-button value="2016">2016</mat-radio-button>
            <mat-radio-button value="2017">2017</mat-radio-button>
            <mat-radio-button value="2018">2018</mat-radio-button>
          </mat-radio-group>


          <div>
            <h4>2) Jakie jednostki mogą otrzymać europejskie wyróżnienie HR Excellence in Research? /zaznacz wszystkie poprawne
              odpowiedzi/
            </h4>
          </div>

          <!-- <mat-radio-group type="text" name="pytI2" #ankietapytI2="ngModel" [(ngModel)]="ankieta.pytI2" id="checkboxy">
            <mat-checkbox value="wdrazajace-zasadyEKN">wdrażające zasady Europejskiej Karty Naukowca</mat-checkbox>
            <mat-checkbox value="wdrazajace-zasadyKodeksu">wdrażające zasady Kodeksu postępowania przy rekrutacji pracowników naukowych</mat-checkbox>
            <mat-checkbox value="zapewniajacenaukowcom">zapewniające naukowcom atrakcyjne warunki pracy i rozwoju kariery</mat-checkbox>
            <mat-checkbox value="zatrudnijacepowyzej5">zatrudniające powyżej 5 pracowników naukowych z zagranicy</mat-checkbox>
          </mat-radio-group>  -->

          <mat-radio-group type="text" id="checkboxy">
            <mat-checkbox name="pytI2a" #ankietapytI2a="ngModel" [(ngModel)]="ankieta.pytI2a" value="wdrażające zasady Europejskiej Karty Naukowca">wdrażające
              zasady Europejskiej Karty Naukowca</mat-checkbox>
            <mat-checkbox name="pytI2b" #ankietapytI2b="ngModel" [(ngModel)]="ankieta.pytI2b" value="wdrażające zasady Kodeksu postępowania przy rekrutacji pracowników naukowych">wdrażające
              zasady Kodeksu postępowania przy rekrutacji pracowników naukowych</mat-checkbox>
            <mat-checkbox name="pytI2c" #ankietapytI2c="ngModel" [(ngModel)]="ankieta.pytI2c" value="zapewniające naukowcom atrakcyjne warunki pracy i rozwoju kariery">zapewniające
              naukowcom atrakcyjne warunki pracy i rozwoju kariery</mat-checkbox>
            <mat-checkbox name="pytI2d" #ankietapytI2d="ngModel" [(ngModel)]="ankieta.pytI2d" value="zatrudniające powyżej 5 pracowników naukowych z zagranicy">zatrudniające
              powyżej 5 pracowników naukowych z zagranicy</mat-checkbox>
          </mat-radio-group>



          <!-- pytI2a = {{ankieta.pytI2a}}
          pytI2b = {{ankieta.pytI2a}}
          pytI2c = {{ankieta.pytI2c}}
          pytI2d = {{ankieta.pytI2d}}  -->
          <!-- <div *ngFor="let pytanieI2 of pytaniaI2; let i=index" id="checkboxy">
            <mat-checkbox [value]="pytanieI2.value" name="pytI2">{{ pytanieI2.viewValue }}</mat-checkbox>
          </div> -->


          <div>
            <h4>3) Jakie działania były realizowane w MIR-PIB w ramach realizacji strategii Human Resources Strategy for
              Researchers? /zaznacz wszystkie poprawne odpowiedzi/</h4>
          </div>
          <mat-radio-group type="text" id="checkboxy">
            <mat-checkbox name="pytI3a" #ankietapytI3a="ngModel" [(ngModel)]="ankieta.pytI3a" value="stworzenie poradnika pt.: 'Stanowisko pracownika naukowego w MIR-PIB – ścieżki awansu, wymagania i korzyści'">stworzenie
              poradnika pt.: „Stanowisko pracownika naukowego w MIR-PIB – ścieżki awansu, wymagania i korzyści”</mat-checkbox>
            <mat-checkbox name="pytI3b" #ankietapytI3b="ngModel" [(ngModel)]="ankieta.pytI3b" value="przeprowadzenie szkolenia pt. „Działania w ramach strategii Human Resources Strategy for Researchers”, mającego na celu wzmocnienie kadry kierowniczej (w tym kierowników projektów) w wiedzę i narzędzia zwiększające efektywność doboru i rozwoju kadr (prowadząca M. Binkiewicz) wdrażające zasady Kodeksu postępowania przy rekrutacji pracowników naukowych">przeprowadzenie
              szkolenia pt. „Działania w ramach strategii Human Resources Strategy for Researchers”, mającego na celu wzmocnienie kadry kierowniczej (w tym <br>
              kierowników projektów) w wiedzę i narzędzia zwiększające efektywność doboru i rozwoju kadr (prowadząca M. Binkiewicz) wdrażające zasady
              Kodeksu  postępowania przy <br>rekrutacji pracowników naukowych</mat-checkbox>
            <mat-checkbox name="pytI3c" #ankietapytI3c="ngModel" [(ngModel)]="ankieta.pytI3c" value="wprowadzenie do stopki email oraz wzorów prezentacji Power Point znaku HR logo">wprowadzenie
              do stopki email oraz wzorów prezentacji Power Point znaku HR logo</mat-checkbox>
            <mat-checkbox name="pytI3d" #ankietapytI3d="ngModel" [(ngModel)]="ankieta.pytI3d" value="zorganizowanie seminarium nt. zarządzania własnością intelektualną i komercjalizacji wyników badań (przeprowadzone przez firmę CoWinners z Poznania; prowadzący dr Zbigniew Krzewiński)">zorganizowanie
              seminarium nt. zarządzania własnością intelektualną i komercjalizacji wyników badań (przeprowadzone przez firmę CoWinners z Poznania; <br>prowadzący dr Zbigniew Krzewiński).</mat-checkbox>
          </mat-radio-group>

          <br>
          <div>
            <h3>
              <u>Część II</u>
            </h3>
          </div>
          <div>
            <h4>1) Twój stopień / tytuł naukowy to:</h4>
          </div>
          <mat-radio-group type="text" name="pytII1" #ankietapytII1="ngModel" [(ngModel)]="ankieta.pytII1" id="buttony">
            <mat-radio-button value="mgr / mgr inż.">mgr / mgr inż.</mat-radio-button>
            <mat-radio-button value="dr / dr inż.">dr / dr inż.</mat-radio-button>
            <mat-radio-button value="dr hab. / dr hab. inż.">dr hab. / dr hab. inż.</mat-radio-button>
            <mat-radio-button value="profesor">profesor</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>2) Na jakim stanowisku jesteś zatrudniony w Instytucie?</h4>
          </div>
          <mat-radio-group type="text" name="pytII2" #ankietapytII2="ngModel" [(ngModel)]="ankieta.pytII2" id="buttony">
            <mat-radio-button value="stażysta">stażysta</mat-radio-button>
            <mat-radio-button value="specjalista">specjalista</mat-radio-button>
            <mat-radio-button value="starszy specjalista">starszy specjalista</mat-radio-button>
            <mat-radio-button value="asystent">asystent</mat-radio-button>
            <mat-radio-button value="adiunkt">adiunkt</mat-radio-button>
            <mat-radio-button value="profesor nadzw.">profesor nadzw.</mat-radio-button>
            <mat-radio-button value="profesor zwyczajny">profesor zwyczajny</mat-radio-button>
            <mat-radio-button value="inne">inne</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>3) Twoja płeć:</h4>
          </div>
          <mat-radio-group type="text" name="pytII3" #ankietapytII3="ngModel" [(ngModel)]="ankieta.pytII3" id="buttony">
            <mat-radio-button value="kobieta">kobieta</mat-radio-button>
            <mat-radio-button value="mężczyzna">mężczyzna</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>4) Twój wiek:</h4>
          </div>
          <mat-radio-group type="text" name="pytII4" #ankietapytII4="ngModel" [(ngModel)]="ankieta.pytII4" id="buttony">
            <mat-radio-button value="24 lata i mniej">24 lata i mniej</mat-radio-button>
            <mat-radio-button value="25-34 lata">25–34 lata</mat-radio-button>
            <mat-radio-button value="35-44 lata">35–44 lata</mat-radio-button>
            <mat-radio-button value="45-54 lata">45–54 lata</mat-radio-button>
            <mat-radio-button value="55-64 lata">55–64 lata</mat-radio-button>
            <mat-radio-button value="65 lat i więcej">65 lat i więcej</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>5) Twój staż pracy w MIR-PIB:</h4>
          </div>
          <mat-radio-group type="text" name="pytII5" #ankietapytII5="ngModel" [(ngModel)]="ankieta.pytII5" id="buttony">
            <mat-radio-button value="2 lata i mniej">2 lata i mniej</mat-radio-button>
            <mat-radio-button value="3-5 lat">3–5 lat</mat-radio-button>
            <mat-radio-button value="6-10 lat">6–10 lat</mat-radio-button>
            <mat-radio-button value="11-20 lat">11–20 lat</mat-radio-button>
            <mat-radio-button value="21-30 lat">21–30 lat</mat-radio-button>
            <mat-radio-button value="31 lat i wiecej">31 lat i więcej</mat-radio-button>
          </mat-radio-group>
          <br>
          <div>
            <h3>
              <u>Część III</u>
            </h3>
          </div>

          <div>
            <h4>1) Moją pracę w Instytucie charakteryzuje wolność badań naukowych:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII01" #ankietapytIII01="ngModel" [(ngModel)]="ankieta.pytIII01" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>
          <div>
            <h4>2) W moim środowisku naukowym przestrzega się zasad etycznych:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII02" #ankietapytIII02="ngModel" [(ngModel)]="ankieta.pytIII02" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>3) Badania, nad którymi pracuję, mają znaczenie dla społeczeństwa i nie powielają przeprowadzonych wcześniej
              i w innym miejscu badań:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII03" #ankietapytIII03="ngModel" [(ngModel)]="ankieta.pytIII03" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>4) Dobrze znam strategiczne cele swojego środowiska naukowego oraz mechanizmy finansowania badań:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII04" #ankietapytIII04="ngModel" [(ngModel)]="ankieta.pytIII04" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>5) Przestrzegam zobowiązań wynikających z umów lub przepisów, dostarczając tym samym wymaganych wyników badań
              (np. praca doktorska/habilitacyjna, publikacje, patenty, sprawozdania, opracowanie nowych produktów itp.):</h4>
          </div>
          <mat-radio-group type="text" name="pytIII05" #ankietapytIII05="ngModel" [(ngModel)]="ankieta.pytIII05" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>6) Przestrzegam zasad starannego, przejrzystego i efektywnego zarządzania finansami oraz współpracuję z wszelkimi
              organami upoważnionymi do kontroli prowadzonych przeze mnie badań naukowych:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII06" #ankietapytIII06="ngModel" [(ngModel)]="ankieta.pytIII06" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>7) Stosuję bezpieczne sposoby wykonywania pracy, w tym podejmuję środki ostrożności na wypadek awarii technologii
              informatycznych, a także w zakresie ochrony danych/poufności:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII07" #ankietapytIII07="ngModel" [(ngModel)]="ankieta.pytIII07" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>8) Kładę nacisk na to, aby wyniki moich badań były rozpowszechniane (np. poprzez „newsy” na stronie internetowej
              Instytutu) i wykorzystywane (np. komercyjnie):</h4>
          </div>
          <mat-radio-group type="text" name="pytIII08" #ankietapytIII08="ngModel" [(ngModel)]="ankieta.pytIII08" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>9) Zależy mi na tym, aby wyniki moich badań docierały do ogółu społeczeństwa i były zrozumiałe dla osób nie
              będących specjalistami:
            </h4>
          </div>
          <mat-radio-group type="text" name="pytIII09" #ankietapytIII09="ngModel" [(ngModel)]="ankieta.pytIII09" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>10) W moim środowisku naukowym NIE spotykam się z przejawami dyskryminacji (np. ze względu na płeć, wiek,
              pochodzenie etniczne, narodowe lub społeczne, religię lub wyznanie, orientację seksualną, język, niepełnosprawność,
              przekonania polityczne oraz status społeczny bądź materialny):</h4>
          </div>
          <mat-radio-group type="text" name="pytIII10" #ankietapytIII10="ngModel" [(ngModel)]="ankieta.pytIII10" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>11) W moim Instytucie istnieje system oceny pracowników i ich wyników zawodowych przeprowadzany w sposób
              przejrzysty przez niezależną komisję:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII11" #ankietapytIII11="ngModel" [(ngModel)]="ankieta.pytIII11" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>12) Znam i rozumiem zasady określone w Kodeksie Postępowania przy rekrutacji pracowników naukowych podczas
              mianowania lub rekrutacji naukowców:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII12" #ankietapytIII12="ngModel" [(ngModel)]="ankieta.pytIII12" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>13) Rekrutacja na stanowiska naukowe prowadzona w MIR-PIB kładzie nacisk na otwarte i przejrzyste procedury,
              oparte o kwalifikacje kandydatów:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII13" #ankietapytIII13="ngModel" [(ngModel)]="ankieta.pytIII13" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>14) Komisje rekrutacyjne dokonujące doboru kandydatów na stanowiska naukowe w MIR-PIB mają ku temu odpowiednie
              doświadczenie i przygotowanie, a także stosują szeroką gamę praktyk selekcji kandydatów:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII14" #ankietapytIII14="ngModel" [(ngModel)]="ankieta.pytIII14" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>15) Kandydaci rekrutowani do MIR-PIB są informowani o kryteriach wyboru, ilości dostępnych stanowisk oraz perspektywach
              rozwoju zawodowego. Po zakończeniu procesu rekrutacji, kandydatów powiadamia się o mocnych i słabych stronach
              ich podań:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII15" #ankietapytIII15="ngModel" [(ngModel)]="ankieta.pytIII15" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>16) W ocenie pracownika naukowego MIR-PIB brane są pod uwagę nie tylko wskaźniki bibliometryczne, jak np. liczba
              publikacji, lecz również inne kryteria, np. opieka naukowa, praca zespołowa, transfer wiedzy, zarządzanie badaniami
              naukowymi oraz działania w zakresie innowacji i szerzenia świadomości naukowej w społeczeństwie:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII16" #ankietapytIII16="ngModel" [(ngModel)]="ankieta.pytIII16" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>17) Przerwy w przebiegu kariery lub odstępstwa od porządku chronologicznego w życiorysie nie stanowią problemu
              w rekrutacji/awansie na stanowiska naukowe w MIR-PIB:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII17" #ankietapytIII17="ngModel" [(ngModel)]="ankieta.pytIII17" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>18) Doświadczenie w zakresie mobilności, np. pobyt w innym kraju/regionie lub w innym środowisku naukowym
              jest w moim Instytucie wysoko cenione:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII18" #ankietapytIII18="ngModel" [(ngModel)]="ankieta.pytIII18" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>19) Uważam, że moje kwalifikacje zawodowe są uznawane zarówno w kraju, jak i za granicą:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII19" #ankietapytIII19="ngModel" [(ngModel)]="ankieta.pytIII19" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>20) W mojej pracy naukowej doceniane są przede wszystkim umiejętności i osiągnięcia, bez względu np. na renomę
              instytucji, gdzie uzyskano te kwalifikację lub wiek, w którym się je osiągnęło:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII20" #ankietapytIII20="ngModel" [(ngModel)]="ankieta.pytIII20" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>21) Znam ścieżkę awansu na kolejne stanowiska naukowe w moim Instytucie:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII21" #ankietapytIII21="ngModel" [(ngModel)]="ankieta.pytIII21" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>22) W Instytucie wszyscy pracownicy są uznawani za profesjonalistów i traktowani zgodnie z tym faktem, tak
              samo na każdym etapie swojej kariery (począwszy od poziomu studiów doktoranckich):</h4>
          </div>
          <mat-radio-group type="text" name="pytIII22" #ankietapytIII22="ngModel" [(ngModel)]="ankieta.pytIII22" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>23) MIR-PIB zapewnia odpowiednie środowisko badań, szkolenia i inne możliwości, w tym współpracę na odległość
              przy pomocy sieci badawczych:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII23" #ankietapytIII23="ngModel" [(ngModel)]="ankieta.pytIII23" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>24) Instytut zapewnia odpowiednie warunki pracy umożliwiające osiąganie efektywnych wyników badań naukowych,
              pogodzenie życia rodzinnego i zawodowego, posiadanie dzieci i rozwój kariery zawodowej: </h4>
          </div>
          <mat-radio-group type="text" name="pytIII24" #ankietapytIII24="ngModel" [(ngModel)]="ankieta.pytIII24" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>25) Instytut zapewnia stabilne warunki zatrudnienia:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII25" #ankietapytIII25="ngModel" [(ngModel)]="ankieta.pytIII25" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>26) MIR-PIB zapewnia naukowcom sprawiedliwe i atrakcyjne wynagrodzenia:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII26" #ankietapytIII26="ngModel" [(ngModel)]="ankieta.pytIII26" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>27) Uważam, że w Instytucie równowaga płci jest zapewniona na każdym szczeblu kadry:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII27" #ankietapytIII27="ngModel" [(ngModel)]="ankieta.pytIII27" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>28) Sądzę, że warto wprowadzić w Instytucie strategię rozwoju kariery zawodowej dla naukowców (mentoring
              policy):
            </h4>
          </div>
          <mat-radio-group type="text" name="pytIII28" #ankietapytIII28="ngModel" [(ngModel)]="ankieta.pytIII28" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>29) Instytut wspiera współpracę naukowców z przedsiębiorstwami/biznesem/przemysłem:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII29" #ankietapytIII29="ngModel" [(ngModel)]="ankieta.pytIII29" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>30) W Instytucie mogę liczyć na wsparcie mojego rozwoju zawodowego/doradztwo zawodowe:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII30" #ankietapytIII30="ngModel" [(ngModel)]="ankieta.pytIII30" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>31) Mam dużą wiedzę na temat praw własności intelektualnej:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII31" #ankietapytIII31="ngModel" [(ngModel)]="ankieta.pytIII31" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>32) W moim instytucie docenia się nie tylko autorstwo, ale też współautorstwo prac, patentów itp.:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII32" #ankietapytIII32="ngModel" [(ngModel)]="ankieta.pytIII32" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>33) Nauczanie jest istotnym sposobem organizacji i upowszechniania wiedzy i z tego względu należy je postrzegać
              jako cenną możliwość w ramach ścieżki rozwoju zawodowego naukowców:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII33" #ankietapytIII33="ngModel" [(ngModel)]="ankieta.pytIII33" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>34) W moim Instytucie funkcjonują procedury zapewniające poufną i nieformalną pomoc w rozwiązywaniu konfliktów
              związanych z pracą:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII34" #ankietapytIII34="ngModel" [(ngModel)]="ankieta.pytIII34" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>35) Naukowcy posiadają przedstawicieli w organach decyzyjnych Instytutu, dzięki czemu ich interesy są reprezentowane
              oraz aktywnie uczestniczą w pracach MIR-PIB:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII35" #ankietapytIII35="ngModel" [(ngModel)]="ankieta.pytIII35" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>36) Relacja przełożony–podwładny / mentor–doktorant powinna być bardziej ustrukturyzowana i obejmować rejestrowanie
              postępu wszelkich badań oraz ich wyników, uzyskiwanie informacji zwrotnych poprzez sprawozdania i seminaria,
              pracę wg ustalonych harmonogramów itp.</h4>
          </div>
          <mat-radio-group type="text" name="pytIII36" #ankietapytIII36="ngModel" [(ngModel)]="ankieta.pytIII36" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>37) W moim Instytucie starsi pracownicy naukowi budują konstruktywne i pozytywne relacje z początkującymi
              pracownikami naukowymi celem efektywnego transferu wiedzy, pomyślnego rozwoju kariery tych naukowców:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII37" #ankietapytIII37="ngModel" [(ngModel)]="ankieta.pytIII37" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>38) Na wszystkich etapach kariery zawodowej szukam możliwości stałego rozwoju poprzez aktualizację i poszerzanie
              zakresu swoich umiejętności i kwalifikacji:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII38" #ankietapytIII38="ngModel" [(ngModel)]="ankieta.pytIII38" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>39) Instytut daje mi możliwość rozwoju zawodowego, podnoszenia kwalifikacji/umiejętności:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII39" #ankietapytIII39="ngModel" [(ngModel)]="ankieta.pytIII39" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <div>
            <h4>40) Młodzi naukowcy w MIR-PIB mogą liczyć na pomoc ze strony opiekunów naukowych, którzy dysponują czasem, wiedzą,
              doświadczeniem, kompetencjami i zaangażowaniem, dzięki którym mogą zaoferować stażystom odpowiednie wsparcie:</h4>
          </div>
          <mat-radio-group type="text" name="pytIII40" #ankietapytIII40="ngModel" [(ngModel)]="ankieta.pytIII40" id="buttony1">
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się zgadzam">zdecydowanie się zgadzam</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zgadzam się">zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie mam zdania">nie mam zdania</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="nie zgadzam się">nie zgadzam się</mat-radio-button>
            <mat-radio-button class="buttony1-margin" value="zdecydowanie się nie zgadzam">zdecydowanie się nie zgadzam</mat-radio-button>
          </mat-radio-group>

          <br>

          <div>
            <h4>Jeśli chciał(a)byś dodać jakieś uwagi, sugestie, zgłosić potrzebę szkolenia lub inny problem, napisz to poniżej
              (ankieta jest anonimowa, wszelkie komentarze są dla nas bardzo cenne):</h4>
          </div>
          <mat-form-field>
            <input matInput placeholder="Twoje uwagi i sugestie" name="uwagi" #ankietauwagi="ngModel" [(ngModel)]="ankieta.uwagi">
          </mat-form-field>
          <br>
          <button mat-raised-button color="warn" type="submit" [disabled]="czyZapisana" (click)="zapisz()">Zapisz dane.
          </button>
          <br>
          <p *ngIf="czyZapisana"><b>Dane zostały zapisane.</b></p>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>